@charset "utf-8";

html,
body {
	position: relative;
}
body {
	min-width: 300px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
	text-align: center;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #000000;
}
body.active {
	height: 100vh !important;
	box-sizing: border-box;
	overflow: hidden !important;
}
a{
	text-decoration: none;
	color: #000000;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.fancybox-inner{
	overflow: visible !important;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	max-width: 1230px;
	padding: 0 30px;
	box-sizing: border-box;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #000000;
}
input:-moz-placeholder {
	color: #000000;
}
button:hover {
    cursor: pointer;
}
.mobile-btn {
	display: none;
	position: absolute;
	left: 15px;
	top: calc(50% - 11px);
	width: 26px;
	height: 22px;
	z-index: 1;
}
.mobile-btn .mobile-btn-el{
	position: absolute;
	border-radius: 4px;
	top: 9px;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #000000;
	opacity: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-btn::before {
    content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn.active::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mobile-btn.active::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-btn.active .mobile-btn-el {
	opacity: 0;
}
.close-btn {
	display: none;
	position: absolute;
	width: 26px;
	height: 22px;
	z-index: 1;
}
.close-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close-btn::before {
	content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.header.active {
    position: fixed;
}
.header .b-block {
    padding-top: 15px;
    padding-bottom: 15px;
}
.header-wrap {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    display: inline-block;
    vertical-align: middle;
    max-width: 159px;
}
.header-logo img {
    display: block;
    max-width: 100%;
}
.header-back {
    display: inline-block;
    vertical-align: middle;
    padding-left: 21px;
    margin-left: 65px;
    position: relative;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.header-back:hover {
    color: #ffc53c;
}
.header-back::before {
    content: '';
    display: block;
    width: 10px;
    height: 18px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../i/back-arr.svg');
    position: absolute;
    top: calc(50% - 9px);
    left: 0;
}
.header-nav ul {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: space-between;
}
.header-nav ul li {
    padding: 0 15px;
}
.header-nav ul li a {
    display: inline-block;
    position: relative;
    padding: 7px 0;
    font-size: 18px;
    color: #ffffff;
}
.header-nav ul li a::before {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #ffc53c;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.header-nav ul li a:hover:before {
    width: 100%;
}
.header-info {
    text-align: right;
}
.header-info p {
    display: block;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.2;
}
.header-info p a {
    color: #ffffff;
}
.header-info p a.whatsapp-number {
    color: #01d076;
    text-transform: uppercase;
    font-weight: 700;
}

.footer {
    background-color: #1a1a1a;
}
.footer .b-block {
    padding-top: 19px;
    padding-bottom: 19px;
}
.footer-wrap {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.footer-logo a {
    display: inline-block;
    vertical-align: middle;
    max-width: 159px;
    margin-right: 25px;
}
.footer-logo p {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    font-size: 10px;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
}
.footer-info li {
    display: block;
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    text-align: left;
}
.footer-info li a {
    color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.footer-info li a:hover {
    color: #ffc53c;
}
.footer .logo-atk {
    display: inline-block;
    max-width: 143px;
}
.footer .logo-atk img {
    display: block;
    max-width: 100%;
}

.cookie {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 90;
    background-color: #1a1a1a;
    bottom: 0;
    left: 0;
}
.cookie.active {
    display: block;
}
.cookie .b-block {
    padding-top: 5px;
    padding-bottom: 5px;
}
.cookie p {
    display: inline-block;
    max-width: 100%;
    margin: 0 10px;
    font-size: 12px;
    color: #797b80;
}
.cookie p a {
    color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.cookie p a:hover {
    color: #ffc53c;
}
.cookie-btn {
    display: inline-block;
    padding: 7px 15px;
    background-color: #ffc53c;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.cookie-btn:hover {
    cursor: pointer;
}

.button-text {
    display: inline-block;
    max-width: 100%;
    font-size: 10px;
    font-weight: 300;
    color: #000000;
    line-height: 1.2;
    position: relative;
    text-align: left;
    padding-left: 35px;
    margin-top: 18px;
}
.button-text a {
    color: #000000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.button-text a:hover {
    color: #ffc53c;
}
.button-text .radio-btn {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    border-radius: 4px;
    left: 0;
    top: calc(50% - 10px);
    box-sizing: border-box;
}
.button-text .radio-btn.error {
    border-color: #ff0000;
    background-color: #ff0000;
}
.button-text .radio-btn:hover {
    cursor: pointer;
}
.button-text .radio-btn.active::before {
    content: '';
    display: block;
    width: 9px;
    height: 2px;
    position: absolute;
    left: 1px;
    top: 10px;
    background-color: #aaadb3;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.button-text .radio-btn.active::after {
    content: '';
    display: block;
    width: 12px;
    height: 2px;
    position: absolute;
    left: 6px;
    top: 9px;
    background-color: #aaadb3;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}



@media (-webkit-min-device-pixel-ratio: 1.5) {
}	
@media screen and (max-width: 1280px){
	.footer-logo a {
        margin-right: auto;
    }
    .footer-logo p {
        display: block;
        margin: 10px auto 0;
    }
}
@media screen and (max-width: 767px){
    .b-block {
        padding: 0 10px;
    }
    .button-text {
        float: none !important;
    }
    .footer-wrap {
        display: block;
    }
    .footer-logo {
        margin-bottom: 30px;
    }
    .footer-info li {
        text-align: center;
    }
    .footer-info {
        margin-bottom: 30px;
    }
    .footer-logo p {
        text-align: center;
    }
}