.header {
	background-color: #191919;
}

.b-1 .b-block {
	padding-top: 62px;
}
.b-1 .b-1-wrap {
	box-sizing: border-box;
	padding: 50px 0;
	min-height: calc(100vh - 62px);
	width: 100%;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
.b-1 h1 {
	display: block;
	width: 100%;
	color: #000000;
	font-size: 36px;
	text-transform: uppercase;
	line-height: 1.2;
	font-weight: 700;
}
.b-1 h1 span {
	color: #ffc53c;
}
.b-1-image {
	display: block;
	width: 100%;
	margin-bottom: 50px;
}
.b-1-nav {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 50px;
	box-sizing: border-box;
	width: 100%;
	background-color: #f7f7f7;
	margin-top: 70px;
}
.b-1-nav .title {
	font-size: 30px;
	color: #000000;
	font-weight: 700;
	text-align: left;
}
.b-1-nav ul li {
	text-align: left;
	margin-bottom: 20px;
}
.b-1-nav ul li:last-child {
	margin-bottom: 0;
}
.b-1-nav ul li a {
	font-size: 18px;
	color: #000000;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1-nav ul li a:hover {
	color: #ffc53c;
}




@media screen and (max-width: 767px){
	.b-1 h1 {
		font-size: 30px;
	}
	.b-1-nav {
		padding: 50px 30px;
		display: block;
	}
	.b-1-nav .title {
		text-align: center;
		margin-bottom: 40px;
	}
	.b-1-nav .title br {
		display: none;
	}
	.b-1-nav ul li {
		text-align: center;
	}
}
@media screen and (max-width: 500px){
	.b-1 h1 {
		font-size: 23px;
	}
}